{% extends 'base.html' %}
{% block body %}
    <div class="update-form-container" style="padding: 1%;border: 3px solid black;margin: 2%;">
        <form action="/update/{{details.name}}", method="POST">
            <div class="mb-3">
                <p>Update {{details.name}}</p>
            </div>            
            <div class="mb-3">
                <label for="title" class="form-label">State</label>
                <input type="text" name="state" class="form-control" id="state" value="{{details.state}}">
            </div>
            <label for="title" class="form-label">Salary</label>
            <input type="text" name="salary" class="form-control" id="salary" value="{{details.salary}}">
        
            <div class="mb-3">
                <label for="title" class="form-label">Grade</label>
                <input type="text" name="grade" class="form-control" id="grade" value="{{details.grade}}">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Room</label>
                <input type="text" name="room" class="form-control" id="room" value="{{details.room}}">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Contact Number</label>
                <input type="text" name="cno" class="form-control" id="cno" value="{{details.cno}}">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Picture</label>
                <input type="text" name="pic" class="form-control" id="pic" value="{{details.pic}}">
                {% if error %}
                    <p style="color:red;"> {{error}} </p>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Keywords</label>
                <input type="text" name="keywords" class="form-control" id="keywords" value="{{details.keywords}}">
            </div>
            <button type="submit" class="btn btn-primary">UPDATE</button>
          </form>

        </div>
    
{% endblock body %}